/* Reinicio básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Encabezado */
header {
   /* background-color: #007bff; /* Azul fuerte */
    color: white;
    text-align: center;
    padding: 50px 20px;
    font-size: 1.5rem;
}

/* Contenido principal */

body {
  background-image: url("fondo.png"); /* Cambiá la ruta por donde esté tu imagen */
  background-size: cover;        /* La imagen cubre toda la pantalla */
  background-repeat: no-repeat;  /* No se repite */
  background-position: center;   /* Centrada */
}

main {
   /* background-color: #f3f3f3;*/
    text-align: center;
    padding: 60px 20px;
}

main h2 {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

/* Botones */
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-weight: bold;
}

.btns {
    background-color: #11ad45;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    position: relative;
}


/* Tablas Alumnos */
table.alumnos {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table.alumnos th, table.alumnos td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

table.alumnos th {
    background-color: #28a745; /* verde */
    color: white;
}

table.alumnos tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Estilo de tabla de agregados */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Contenedor de tabla */
.tabla-contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Botones en fila */
.botones {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
