<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conductor</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <header>
    <h1>Conductores</h1>
</header>

<main>

    <!-- Formulario para agregar -->
    <h2>Agregar Conductor</h2>

    <form th:object="${nuevoConductor}"
      data-th-action="${band}?@{/modificarConductor}:@{/guardarConductor}" 
      method="post" 
      enctype="multipart/form-data">

    <label for="dni"></label>
    <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="DNI" 
    minlength="4" maxlength="10" required th:readonly="${band}">
    <span th:if="${#fields.hasErrors('dni')}"
      th:errors="*{dni}"
      class="text-danger"></span>
    
    <label for="nombre"></label>
    <input type="text" id="nombre" name="nombre" placeholder="NOMBRE" required th:field="*{nombre}"
    minlength="5" maxlength="20">
    <span th:if="${#fields.hasErrors('nombre')}"
      th:errors="*{nombre}"
      class="text-danger"></span>
    
    <label for="apellido"></label>
    <input type="text" id="apellido" name="apellido" placeholder="APELLIDO" 
    minlength="4" maxlength="10" required  th:field="*{apellido}">
    <span data-th-if="${#fields.hasErrors('apellido')}"
            th:errors="*{apellido}"
            class="text-danger">
            Error en el apellido              
    </span>

    <label for="fechaNac"></label>
    <input type="date" id="fechaNac" name="fechaNac" required th:field="*{fechaNac}">
    
    <br><br>
    <button type="submit" th:text="${band} ? 'MODIFICAR' : 'INGRESAR'" class="btn"></button>
</form>
    <div style="text-align:center;">
        <br>  
        <br>  
        <a href="/" class="btn">INICIO</a>
        <a href="/" class="btn">VOLVER</a>
            <a href="/listarConductor" class="btn">VER CONDUCTORES</a>
    </div>
</main>
<br>
<br>
<br>
<br>

<footer>
    <p>&copy; 2025 IES N.º6 - Todos los derechos reservados</p>
</footer>
</body>
</html>
