<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio - Sistema Escolar</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Carga de Datos</h1>
    </header>

    <!-- Contenido principal -->
    <main>
        <h2>Seleccione una opción</h2>

        <!-- Botones principales -->
        <div class="botones-horizontal">
            <a href="/usuario" class="btn">USUARIOS</a>
               <a href="/conductor" class="btn">CONDUCTORES</a>
            <a href="/vehiculo" class="btn">VEHICULOS</a>
         
        </div>
        <br>
        <br><br>
        <!-- Botón volver -->
        <div class="volver-contenedor">
            <a href="/" class="btn volver">VOLVER</a>
        </div>
    </main>

    <footer>
        <p>© 2025 IES N°6 - Todos los derechos reservados</p>
    </footer>
</body>
</html>
